@import url(m_style.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 3.5rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #bfbfbf;
  line-height: 3.5rem;
  text-align: center;
}
header h1 {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.6rem;
}
header .left {
  width: 1.2rem;
  height: 3.5rem;
  background: null;
  margin-left: 1rem;
}
header .left img {
  width: 0.8rem;
  height: auto;
  background: null;
}
header .right {
  width: 1.7rem;
  height: 3.5rem;
  background: null;
  margin-right: 1rem;
}
header .right img {
  width: 1.6rem;
  height: auto;
  background: null;
}
section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow: auto;
}
section::-webkit-scrollbar {
  width: 0;
}
section .statement {
  width: 100%;
  height: 1.9rem;
  background: null;
  padding: 0 1rem;
  box-sizing: border-box;
  color: #333333;
  line-height: 1.9rem;
}
section .statement span {
  color: #ff7d1b;
}
section .arguments {
  width: auto;
  height: 2.9rem;
  background: #ffffff;
  padding: 0 1rem;
  border-bottom: 1px solid #e6e6e6;
  line-height: 2.9rem;
  vertical-align: middle;
}
section .arguments span {
  color: #a6a6a6;
}
section .arguments b {
  float: right;
}
section .arguments b img {
  width: 0.7rem;
  height: auto;
  background: null;
}
section .arguments .txt {
  border: none;
  outline: none;
}
section .content_img {
  width: auto;
  height: 11rem;
  background: #ffffff;
  padding: 0 1rem;
}
section .content_img p {
  height: 2rem;
  color: #333333;
  line-height: 2rem;
}
section .content_img .imgs {
  margin-top: 1rem;
}
section .content_img .imgs img {
  width: 6.8rem;
  height: auto;
  background: null;
  margin-right: 0.5rem;
}
section .recipients {
  width: auto;
  height: 4.5rem;
  background: #ffffff;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}
section .recipients ul {
  padding: 0.8rem 0;
  box-sizing: border-box;
  float: left;
}
section .recipients ul li img {
  width: 0.9rem;
  height: auto;
  background: null;
  margin-right: 0.3rem;
}
section .recipients p {
  float: right;
  line-height: 4.5rem;
}
section .recipients p img {
  width: 0.8rem;
  height: auto;
  background: null;
}
footer {
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
footer div {
  width: 8rem;
  height: 3.3rem;
  background: #ff7d1b;
  line-height: 3.3rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}
footer p {
  -webkit-box-flex: 1;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #6e6e6e;
}
footer p span {
  color: #ff7d1b;
}
