@import url(m_style.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  width: 100%;
  height: 3.5rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #bfbfbf;
  line-height: 3.5rem;
  text-align: center;
}
.wrap header h1 {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.6rem;
}
.wrap header .left {
  width: 1.2rem;
  height: 3.5rem;
  background: null;
  margin-left: 1rem;
}
.wrap header .left img {
  width: 0.8rem;
  height: auto;
  background: null;
}
.wrap header .right {
  width: 1.7rem;
  height: 3.5rem;
  background: null;
  margin-right: 1rem;
}
.wrap header .right img {
  width: 1.6rem;
  height: auto;
  background: null;
}
.wrap section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
}
.wrap section .business {
  width: 100%;
  height: 3rem;
  background: #ffffff;
  text-align: center;
}
.wrap section .business ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3rem;
  background: null;
}
.wrap section .business ul li {
  width: 100%;
  height: 3rem;
  background: null;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  position: relative;
}
.wrap section .business ul li a {
  width: auto;
  height: 2rem;
  background: null;
  display: block;
  color: #333333;
  border-right: 1px solid #cccccc;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
.wrap section .business ul li .no {
  border-right: none;
}
.wrap section .business ul li img {
  width: 1rem;
  height: auto;
  background: null;
  margin-left: 0.5rem;
}
.wrap section .business ul li .on_ul {
  width: 100%;
  height: 15rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: absolute;
  left: 0;
  bottom: -15rem;
  display: none;
}
.wrap section .business ul li .on_ul li {
  border: 1px solid #CCCCCC;
  border-top: none;
  line-height: 3rem;
}
.wrap section .business ul li .on_ul li a {
  border-right: none;
  margin: 0;
  padding: 0;
}
.wrap section .business ul li .on_ul .no_red a {
  color: #ff7f1d;
}
.wrap section .business ul .on:hover {
  border-bottom: 1px solid #ff7f1d;
}
.wrap section .business ul .on:hover a {
  color: #ff7f1d;
}
.wrap section .business ul .on_sin:hover .on_ul {
  display: block;
}
.wrap section .content {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  margin-top: 0.5rem;
}
.wrap section .content ul {
  width: 100%;
  height: 3rem;
  background: null;
  padding: 0.5rem 0.7rem;
  box-sizing: border-box;
  color: #666666;
}
.wrap section .content ul .bba {
  width: 100%;
  height: auto;
  background: none;
}
.wrap section .content ul .bba .leftt {
  margin-right: 50px;
}
.wrap section .content ul .rightt {
  margin-left: 26px;
}
